<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tmmimdesign">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TmmimDesign"
        tools:replace="android:appComponentFactory">
        <activity android:name=".NoviscoreLoginUI"></activity>
        <activity android:name=".PasswordPattern" />
        <activity android:name=".RangeSeekBar" />
        <activity android:name=".PriceRangeSeekBar" />
        <activity android:name=".ScrollCustomCalendar" />
        <activity android:name=".CustomCalendar" />
        <activity android:name=".PlaningToolsUI" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>